body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
}

button,
input {
  -webkit-appearance: none;
  border: none;
  background: none;
  outline: none;
}

html {
  width: 100%;
  height: 100%;
}

html body {
  height: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  color: #303ff8;
  font-weight: 600;
  text-decoration: none;
  font-size: 40px;
  position: fixed;
  top: 30px;
  left: 30px;
}

#hero {
  text-align: center;
}

#hero .container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 300px;
  text-align: center;
  height: 570px;
}

#hero .container h2 {
  color: #303ff8;
  font-size: 100px;
  font-weight: 600;
  position: absolute;
  width: 100%;
  top: 180px;
}

#hero .container p {
  color: #5b5b5b;
  font-size: 30px;
  margin-top: 80px;
}

#hero .container .OKAY2 {
  width: 100%;
}

#Introduction {
  border: 15px solid #303ff8;
}

#Introduction .container {
  width: 100%;
  padding: 80px;
}

#Introduction .container .left-part {
  width: 60%;
  margin-top: 100px;
}

#Introduction .container .left-part .p1 {
  color: #303ff8;
  font-size: 30px;
  font-weight: 600;
  display: block;
}

#Introduction .container .left-part .p2 {
  font-size: 24px;
  display: block;
  color: #5b5b5b;
  margin-top: 20px;
}

#Introduction .container .left-part .p-block .p-left {
  display: inline-block;
}

#Introduction .container .left-part .p-block .p-left h3 {
  color: #303ff8;
  margin-top: 40px;
  font-size: 26px;
}

#Introduction .container .left-part .p-block .p-left p {
  color: #5b5b5b;
  margin-top: 40px;
  font-size: 18px;
}

#Introduction .container .left-part .p-block .p-left.m-r {
  margin-left: 20px;
}

#contact-us .container {
  width: 100%;
  height: 100%;
  position: relative;
}

#contact-us .container .left-part {
  width: 40%;
  margin: 0 auto;
  position: absolute;
  left: 0;
  padding-top: 10%;
  right: 30%;
}

#contact-us .container .left-part h3 {
  color: #303ff8;
  font-size: 50px;
}

#contact-us .container .left-part input {
  border-bottom: 2px solid  #5b5b5b;
  font-size: 20px;
  padding-bottom: 10px;
  margin: 50px 0;
  display: block;
  width: 500px;
}

#contact-us .container .left-part textarea {
  background: #E6E6E6;
  border: none;
  width: 500px;
  border-radius: 20px;
  font-size: 20px;
  padding: 10px 20px;
  outline: none;
}

#contact-us .container .left-part .submit {
  background: #303ff8;
  width: 500px;
  border-radius: 10px;
  color: #fff;
  padding: 10px 0;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
}

#contact-us .container .right-part {
  background: #FFB129;
  width: 400px;
  position: absolute;
  right: 0;
  height: 100%;
}

#contact-us .container .right-part .inner {
  height: 70%;
  position: relative;
  top: 30%;
  text-align: right;
}

#contact-us .container .right-part .inner a {
  font-size: 30px;
  text-decoration: none;
  display: block;
  margin: 20px 0;
  padding-right: 40px;
  color: #5b5b5b;
}

#contact-us .container .right-part .inner a.blue {
  color: #303ff8;
  font-size: 50px;
}

* {
  box-sizing: border-box;
}
